.messageContainer{
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message{
    color: #040a2b;
    font-size: 18px;
    display: flex;
    align-self: center;
    justify-self: center;
}